<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="keyword" content="blog,netease">
    <meta name="description" content="网易大作业, 简易博客">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <title>testblog</title>
</head>

<body>
<!--模板引擎-->
<script type="text/tmpl" id="tmplpostlist">
<% for (var i = 0;i<items.length;i++) { %>
    <li data-id="<%= items[i].id %>" class="f-cb <%= items[i].allowView == 10000 ? 'private' : '' %> <%= items[i].rank == 1 ? 'j-attop' : '' %>">
        <input type="checkbox" name="" id="">
        <div class="title">
            <a href="javascript:;"><h6><i class="u-icon u-icon-privatepost"></i><%= items[i].title %></h6></a>
            <div class="info">
                <span class="date"><%= items[i].shortPublishDateStr %> <%= items[i].publishTimeStr %></span>
                <span class="read">阅读量 <span class="count"><%= items[i].accessCount %></span></span>
                <span class="comments">评论 <span class="count"><%= items[i].commentCount %></span></span>
            </div>
        </div>
        <div class="operations">
            <a href="javascript:;" class="edit j-editblog">编辑</a>
            <div class="more j-operationmore">
                <a href="javascript:;">更多</a>
                <i class="u-arrow down"></i>
                <ul>
                    <li class="j-singledel"><a href="javascript:;">删除</a></li>
                    <li class="j-totop"><a href="javascript:;">置顶</a></li>
                    <li class="j-canceltop"><a href="javascript:;">取消置顶</a></li>
                </ul>
            </div>
        </div>
    </li>
<% } %>
</script>
<script type="text/tmpl" id="tmplfriendsposts">
    <% for (var i = 0;i<items.length;i++) { %>
    <li class="f-cb">
        <img src="" class="avatar" alt="">
        <div class="name"><a href="javascript:;"><%= items[i].userNickname %></a></div>
        <div class="description"><a href="javascript:;"><%= items[i].title %></a></div>
    </li>
    <% } %>
</script>
    <!-- 
        hd: head
        mn: main
        sd: side
        ct: center
        bd: body
        cnt: content
     -->
    <div class="g-bar">
        <div class="f-wrap">
            <ul class="m-barnav">
                <li class="m-dropdown">
                    <span>网易</span><i class="u-arrow down"></i>
                    <div class="menu">
                        <span>新闻</span>
                        <span>微博</span>
                        <span>邮箱</span>
                        <span>闪电邮</span>
                        <span>相册</span>
                        <span>有道</span>
                        <span>手机邮</span>
                        <span>印象派</span>
                        <span>梦幻人生</span>
                        <i class="divider"></i>
                        <span class="more">更多</span>
                    </div>
                </li>
                <li><span>博客</span></li>
                <li><span>摄影</span></li>
                <li><span>随便看看</span></li>
            </ul>
            <div class="m-usernav">
                <a href="javascript:;" class="greet s-gray">中午好，<span class="username">testblog1</span>（<i class="u-icon u-icon-email"></i><span class="count">5</span>）</a>
                <span class="f-pipenav"></span>
                <i class="u-icon u-icon-usercenter f-ml10"></i><span>个人中心</span>
                <a href="javascript:;" class="f-ml10">消息（<span class="s-orange">1274</span>）</a>
                <a href="javascript:;" class="f-ml10">反馈</a>
                <span class="f-pipenav"></span>
                <a href="javascript:;" class="s-gray-1">退出</a>
            </div>
        </div>
    </div>
    <div class="g-hd">
        <div class="f-wrap">
            <div class="m-userinfo">
                <img src="http://os.blog.163.com/common/ava.s?host=testblog1&b=0&r=-1" alt="avatar" class="avatar">

                <h1 class="greet">欢迎！<span class="username">testblog</span></h1>
                <button class="uploadavatar u-btn">传相片</button>
            </div>
        </div>
    </div>
    <div class="f-wrap f-cb">
        <div class="g-bd">
            <div class="g-sd">
                <div class="m-slidenav">
                    <h3 class="navtitle"><i class="u-icon u-icon-blognews"></i>博客动态</h3>
                    <ul class="navmn">
                        <li><a href="javascript:;">博客动态</a></li>
                        <li><a href="javascript:;">消息中心</a></li>
                    </ul>
                </div>
                <div class="m-slidenav">
                    <h3 class="navtitle"><i class="u-icon u-icon-blogmanage"></i>博客管理</h3>
                    <div class="navmn">
                        <ul>
                            <li><a href="javascript:;">日志管理</a></li>
                            <li class="current"><a href="javascript:;">博友管理</a></li>
                            <li><a href="javascript:;">博客设置</a></li>
                            <li><a href="javascript:;">博客装扮</a></li>
                        </ul>
                    </div>
                </div>
                <div class="m-slidenav">
                    <h3 class="navtitle"><i class="u-icon u-icon-service"></i>服务</h3>
                    <div class="navmn">
                        <ul>
                            <li><a href="javascript:;">博客动态</a></li>
                            <li><a href="javascript:;">消息中心</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="g-cnt">
                <h2 class="g-tl">日志管理</h2>
                <div class="g-cntmn">
                    <ul class="m-tabs" id="j-tab">
                        <li class="current" data-id="j-con1"><a href="javascript:;">日志</a></li>
                        <li data-id="j-con2"><a href="javascript:;">标签</a></li>
                    </ul>
                    <div class="m-tabcontain">
                        <div name="j-con" id="j-con1">
                            <form action="" class="m-form f-cb" name="j-formpost">
                                <input id="j-ipttitle" type="text" class="formtitle" placeholder="日志标题">
                                <textarea placeholder="这里可以写日志哦~" name="" id="j-txacontent" class="formcnt"></textarea>

                                <button type="reset" class="f-fr u-btn" id="j-btnreset">清空</button>
                                <button type="submit" onclick="return false;" id="j-addblog"class="f-fr u-btn f-mr5">发布</button>
                            </form>
                            <ul id="j-postlist" class="m-postlist">
                                
                            </ul>
                            <div class="m-selectall">
                                <label><input type="checkbox" class="chk-selectall" name="selectall" id="j-selectall">全选</label>
                                <button class="u-btn" onclick="return false;" id="j-batchdel">删除</button>
                            </div>
                        </div>
                        <div name="j-con" id="j-con2" class="f-dn">
                            <div>
                                没有标签
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-cntsd">
                    <!-- 问题: 需要标题语义化 -->
                    <div class="title">好友最新日志</div>
                    <div class="m-scrolllist">
                        <ul id="j-friendsposts">
                            <li class="f-cb"><img src="" class="avatar" alt="">
                                <div class="name"><a href="javascript:;">悟空空</a></div>
                                <div class="description"><a href="javascript:;">向服务器发不跳转的统计请求</a></div>
                            </li>
                            <li class="f-cb"><img src="" class="avatar" alt="">
                                <div class="name"><a href="javascript:;">悟空空</a></div>
                                <div class="description"><a href="javascript:;">禁用网页的鼠标右键功能</a></div>
                            </li>
                            <li class="f-cb"><img src="" class="avatar" alt="">
                                <div class="name"><a href="javascript:;">悟空空</a></div>
                                <div class="description"><a href="javascript:;">厦门游的一些准备工作</a></div>
                            </li>
                            <li class="f-cb"><img src="" class="avatar" alt="">
                                <div class="name"><a href="javascript:;">悟空空</a></div>
                                <div class="description"><a href="javascript:;">结婚誓盟</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-footer">
        <div class="m-footer">
            <a href="javascript:;">公司简介</a>
            <a href="javascript:;">联系方法</a>
            <a href="javascript:;">招聘信息</a>
            <a href="javascript:;">客户服务</a>
            <a href="javascript:;">相关法律</a>
            <a href="javascript:;">博客风格</a>
            <a href="javascript:;">手机博客</a>
            <a href="javascript:;"><i class="u-icon u-icon-rss"></i>订阅此博客</a>

            <!-- 公司版权 应该用&copy; -->
            <p>网易公司版权所有 &copy;1997-2016</p>
        </div>
    </div>
    <script src="js/global.js"></script>
    <script src="js/index.js"></script>
    <!--[if lt IE 9]><script src="js/placeholder.js"></script><![endif]-->
</body>

</html>
